header {
  background-color: #3dc754;
}

a {
  text-decoration: none;
}

.navbar-nav .nav-link.active {
  color: yellow;
}

.nav-link {
  color: white;
}

.nav-item a {
  transition: ease-in-out 0.6s;
}

.nav-item a:hover {
  background-color: yellow;
}

.navbar-nav {
  gap: 20px;
}

.navbar-toggler-icon {
  background: url("https://api.iconify.design/mdi/hamburger-menu.svg?color=red") no-repeat center center/contain;
  color: red;
}

.carousel-item img {
  height: 250px;
}

@media (min-width: 900px) {
  #carouselExample {
    margin: 0 auto;
    width: 70%;
  }
  .carousel-item img {
    height: 550px;
  }
}
.comidas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

@media (min-width: 768px) {
  .comidas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .comidas {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  height: 420px;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 300px;
}

.descripciones {
  margin: 0 auto;
}

.icono-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.icono-texto img {
  width: 80px;
  height: 80px;
}

.iconify {
  font-size: 3rem;
}

.insta {
  color: rgb(230, 70, 70);
}

.tik {
  color: black;
}

.yout {
  color: red;
}

.redes {
  gap: 20px;
}

/*GRADIENTES*/
.gradientes {
  /*Lineal Hacia la izquierda*/
  /*direcciones top, bottom, left o right*/
  background-image: radial-gradient(circle, red, gold);
}

.radial {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background-image: radial-gradient(ellipse 250px 100px, lightgreen, darkslateblue);
  /*Transformaciones*/
  /*Con dos valores, el primero es el eje X (horizontal) y el segundo es el eje Y (vertical)*/
  /*TranslateX o translateY solo recibe un valor*/
  /*Rotate*/
  /*transform: rotate(90deg);*/
  /*SKEW*/
  transform: skew(20deg, 10deg);
}

/*HOVER = PONER EL MOUSE ENCIMA DE UN ELEMENTO*/
.radial:hover {
  /*SCALE*/
}

.transicion {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(to left, black, gray);
  transition: height 5s;
}

.transicion:hover {
  height: 400px;
}

.input {
  width: 200px;
  transition: width 0.5s;
}

.input:focus {
  width: 210px;
}

/*Animaciones*/
.animacion {
  width: 100px;
  height: 100px;
  background-color: green;
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 5s;
}

@keyframes un_efecto {
  0% {
    width: 100px;
  }
  10% {
    width: 50px;
  }
  25% {
    width: 300px;
  }
  50% {
    width: 200px;
    background-color: red;
  }
  75% {
    width: 300px;
  }
  100% {
    width: 100px;
    background-color: green;
  }
}
/*BARRA PROGRESO*/
.barra-progreso {
  width: 60%;
  border: solid 2px;
  height: 15px;
}

.barra-rellena {
  border: solid 1px;
  height: 11px;
  width: 50%;
  background-color: green;
  animation: rellenando 3s;
}

@keyframes rellenando {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
h1 {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
